
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script type="text/javascript">
        $(function () {
            var ticket = "";

            $.ajax({
                url: "https://localhost:44361/token",
                type: "post",
                dataType: "json",
                data: { grant_type:"password", UserName:"admin",Password:"666666"},
                success: function (d) {
                    ticket = d.access_token;

                    console.log(d);
                }
            })

            $("button").click(function () {
                console.log(ticket);
                jQuery.support.cors = true;
               $.ajax({
                   url: "https://localhost:44361/api/customer",
                   beforeSend: function (XHR) {
                       //发送ajax请求之前向http的head里面加入验证信息
                       XHR.setRequestHeader('Authorization', 'bearer ' + ticket);
                   },
                   type: "get",
                   dataType: "json",
                   success: function (d) {
                       console.log(d);
                   }
               })
           })
        })
    </script>
</head>
<body>
    <div>
        <button type="button">调用</button>
    </div>
</body>
</html>
